.view.view-entity
    .actions
        a.to-update-entity.btn(href="javascript:", entityName=entityName, _id=_id) 编辑
        .btn-separator
        a.remove-entity.btn(href="javascript:", _id=_id) 删除
