main-bg-color = #194a76
main-color = #fff

deskZ = 50

cSeparator = #dfe4ed

absolute(top = auto, right = auto, bottom = auto, left = auto)
    position absolute
    top top
    right right
    bottom bottom
    left left

fixed(top = auto, right = auto, bottom = auto, left = auto)
    position fixed
    top top
    right right
    bottom bottom
    left left