.view.view-promotion-report

    .report
        padding 16px 0

    .channel
        padding 4px

        .channel-name
            margin-right 8px
            padding 2px 0

        .children
            padding 4px 0 4px 16px
            border-left 2px solid #ccc

.view.view-promotion-channel
    .actions
        margin 8px 0

    .base-url
        width 90%

    .channel-names
        width 90%
