include ../EntityMixin

-var canEditEntity = F.hasEntityPermission('UpdateOne', entityMeta.name)
tbody
    each i in page
        tr(_id = i._id)
            td(style="width: 40px; text-align: center; padding: 0px;")
                input.select(type="checkbox")
            td(style="width: 40px; text-align: center; padding: 0px;")
                if canEditEntity
                    a.to-update-entity(href="javascript:", entityName=entityMeta.name, _id=i._id) 编辑
            +listFields(fieldNames, i, entityMeta)
