.view.list-entity
    .actions
        if F.hasEntityPermission('Create', entityName)
            a.to-add-entity.btn(href="javascript:",entityName=entityName) 新增
            .btn-separator
        if F.hasEntityPermission('Remove', entityName)
            a.remove-entities.btn(href="javascript:",entityName=entityName) 删除