include ../EntityMixin

tbody
    each i in page
        tr(_id = i._id)
            if multiple
                td(style="width: 40px; text-align: center;")
                    input.select(type="checkbox", checked=(i._id in selectedEntityIds))
            +listFields(fieldNames, i, entityMeta)
