.fw-resizable
    .drag-handle
        position absolute

    .right-drag-handle
        top 0
        bottom 0

        &:hover
            cursor ew-resize

    .bottom-drag-handle
        left 0
        right 0

        &:hover
            cursor ns-resize
