.view.edit-entity, .view.list-entity, .view.view-entity
    .actions
        margin-bottom 8px

.view.select-entity
    .actions
        margin 8px 0 16px 0
    padding 8px

.entity-list-actions
    margin-bottom 8px

    .tools > *
        margin 4px 0

    .fast-search
        width 150px
        margin-right 4px

    .page-no
        width 50px

    .page-size
        width 40px

    .total, .page-num
        margin 0 4px

    .refresh-page, .prev-page, .next-page
        margin 0 2px

    .columns
        margin-left 4px

    .more-search
        margin-left 4px

    .sort-field
        width 120px

    .sort-order
        width 70px

    .filters
        margin-top 2px

        .filter-item
            margin-bottom 4px

        .remove-item
            margin-right 8px

            &.invisible
                visibility hidden

        .field-name
            width 100px
            margin-right 4px

        .operator
            width 80px
            margin-right 4px

        .filter-input
            display inline-block

        .filter-input-item
            display inline-block
            margin-right 8px

            &.hidden
                display none

        .ref-holder
            display inline-block

    .filters-action
        .filters-name
            width 120px

        .plain-btn
            font-size 14px
            line-height 28px
            vertical-align middle
            padding 4px

        .pre-filters
            text-decoration underline

    .column-names
        display inline-block

        label
            display inline-block
            margin-right 8px

table.entity-list
    font-size 14px
    word-break break-all

    &.hl-row
        tr:hover
            background #ccf

    th, td
        max-width 200px

.entity-digest
    display inline-block
    padding 0 4px
    vertical-align middle

table.view-entity-table
    word-break break-all
    th, td
        max-width 600px

.table-scroll
    width 100%
    overflow auto

