cSeparator = #dfe4ed
cBodyBg = #eceff4
cMainBar = #fff
cMainMenu = #fff
cText = #827ca1 - 10%
cSelection = #f2f4f8
cPageHead = #fff
cBtnBg = #1fb2fe
cInputBorder = #dfe4ed
cTableBorder = cInputBorder

mainBarHeight = 50px
mainMenuWidth = 200px

notPCWidth = 1024px

pageHeadHeight = mainBarHeight

inputTextWidth = 200px
inputHeight = 40px
inputHeightSmall = 28px

btnHeight = 40px
btnHeightSmall = 32px

iconButtonHeight = 32px
iconButtonHeightSmall = 24px

absolute(top = auto, right = auto, bottom = auto, left = auto)
    position absolute
    top top
    right right
    bottom bottom
    left left

fixed(top = auto, right = auto, bottom = auto, left = auto)
    position fixed
    top top
    right right
    bottom bottom
    left left


