.view.view-config-es
    position relative

    .history
        position absolute
        width 290px
        background #ddd
        height 100%
        overflow auto

    .history-item
        padding 4px 0

        .title
            margin-right 8px

    .work
        margin-left 300px

    .path
        width 300px
        margin 0 8px

    .body
        width 96%
        margin 8px auto