include ../FieldItemMixin

+FieldItem(field, fClass)
    -var m = value && moment(value)
    .fw-field-item-input.input-date(class=fClass)
        input.date-year(type="number", value=m && m.year())
        span 年
        input.date-month(type="number", value=m && (m.month() + 1))
        span 月
        input.date-day(type="number", value=m && m.date())
        span 日