.fw-field-item(class=fClass, file=JSON.stringify(file))
    a.fw-remove-file.iconfont.icon-delete.fw-icon-button(href="javascript:")
    a(href=F.fileObjectToLink(file), target="_blank") 下载[#{F.showFileSize(file.size)}]