.view.view-meta-index
    .actions
        a.refresh-list.btn(href="javascript:") 刷新
        .btn-separator
        a.add-entity.btn(href="javascript:") 添加实体
        a.add-view.btn(href="javascript:") 添加视图
        .btn-separator
        a.copy-meta.btn(href="javascript:") 导出元数据
        a.paste-meta.btn(href="javascript:") 导入元数据

    textarea.meta-copied