.view.sign-in
    width 80%
    margin 8px auto

    .tip
        font-size 14px
        line-height 24px
        height 24px

    .username, .password, .sign-in-btn
        box-sizing border-box
        display block
        width 100%
        margin 8px 0